{% extends 'base.html' %}{% load static %}

{% block title %}Vinculación social - Presupuesto participativo{% endblock %}

{% block head %}
{% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
<link rel="stylesheet" href="{% static 'styles/ppStyles.css' %}?=v1">
{% endblock %}


{% block body %}{% include 'nav.html' %}
<main>
    <form action="" method="post">
        {% csrf_token %}
        <div class="container">
            <h1>CENTRO COMUNITARIO / SALÓN DE USOS MÚLTIPLES</h1>
            <div class="form-group">
                <div class="simple-dropdown">
                    <button class="simple-toggle">REHABILITACIÓN</button>
                    <div class="simple-menu">
                        <div class="simple-item">
                            <label>
                                {{form.rehabilitacion_baños}} REHABILITACIÓN DE BAÑOS
                            </label>
                        </div>
                        <div class="simple-item">
                            <label>
                                {{form.rehabilitacion_salones}} REHABILITACIÓN DE SALONES
                            </label>
                        </div>
                        <div class="simple-item">
                            <label>
                                {{form.rehabilitacion_electricidad}} REHABILITACIÓN DE ELECTRICIDAD
                            </label>
                        </div>
                        <div class="simple-item">
                            <label>
                                {{form.rehabilitacion_gimnasio}} REHABILITACIÓN DE GIMNASIO
                            </label>
                        </div>
                    </div>
                </div>
                <div class="simple-dropdown">
                    <button class="simple-toggle">NUEVA CONSTRUCCIÓN</button>
                    <div class="simple-menu">
                        <div class="simple-item">
                            <label>
                                {{form.construccion_salon}} CONSTRUCCIÓN DE SALÓN
                            </label>
                        </div>
                        <div class="simple-item">
                            <label>
                                {{form.construccion_domo}} CONSTRUCCIÓN DE DOMO
                            </label>
                        </div>
                        <div class="simple-item">
                            <label>
                                {{form.construccion_otro}} CONSTRUCCIÓN (OTRO)
                            </label>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <label for="id_desc_p" class="label">NOTAS DE LA PROPUESTA</label>
                {{form.notas_propuesta}}
            </div>
        </div>
        <div class="Ibottom">
                <div class="lBtn">
                    <button type="button" class="back bbtn" id="back" data-url="{% url 'clear' %}">Regresar</button>
                </div>
                <div class="rBtn">
                    <button type="submit" class="next nbtn" id="next">Siguiente</button>
                </div>
            </div>
    </form>
</main>
{% endblock %}


{% block footer %}
<script src="{% static 'sripts/btnScripts.js' %}"></script>
<script src="{% static 'sripts/acordeon.js' %}"></script>
{% endblock %}