{% extends 'base.html' %}{% load static %}

{% block title %}Vinculación social - Presupuesto participativo{% endblock %}

{% block head %}
{% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
<link rel="stylesheet" href="{% static 'styles/ppStyles.css' %}?=v1">
{% endblock %}


{% block body %}{% include 'nav.html' %}
<main>
    <form action="" method="post">
        {% csrf_token %}
        <div class="container">
            <h1>INFRAESTRUCUTURA URBANA</h1>
            <div class="form-group">
                <div class="simple-dropdown">
                    <button class="simple-toggle">INFRAESTRUCTURA URBANA</button>
                    <div class="simple-menu">
                        <div class="simple-item">
                            <label>
                                {{form.infraestructura_barda}}  BARDA PERIMETRAL
                            </label>
                        </div>
                        <div class="simple-item">
                            <label>
                                {{form.infraestructura_banquetas}} BANQUETAS
                            </label>
                        </div>
                        <div class="simple-item">
                            <label>
                                {{form.infraestructura_muro}} MURO DE CONTENCIÓN
                            </label>
                        </div>
                        <div class="simple-item">
                            <label>
                                {{form.infraestructura_camellon}} INTERVENCIÓN DE CAMELLÓN
                            </label>
                        </div>
                        <div class="simple-item">
                            <label>
                                {{form.infraestructura_crucero}} CRUCERO SEGURO / CRUCE PEATONAL
                            </label>
                        </div>
                        <div class="simple-item">
                            <label>
                                {{form.infraestructura_ordenamiento}} ORDENAMIENTO VEHICULAR DE CALLE
                            </label>
                        </div>
                        <div class="simple-item">
                            <label>
                                {{form.infraestructura_er}} ESCALINATAS / RAMPAS
                            </label>
                        </div>
                        <div class="simple-item">
                            <label>
                                {{form.infraestructura_mejora}} MEJORAMIENTO DE IMAGEN VEHICULAR (PINTURA)
                            </label>
                        </div>
                        <div class="simple-item">
                            <label>
                                {{form.infraestructura_peatonal}} PASO PEATONAL
                            </label>
                        </div>
                        <div class="simple-item">
                            <label>
                                {{form.infraestructura_bayoneta}} BAYONETA / RETORNO
                            </label>
                        </div>
                        <div class="simple-item">
                            <label>
                                {{form.infraestructura_topes}} PASOS POMPEYANOS / REDUCTORES DE VELOCIDAD
                            </label>
                        </div>
                        <div class="simple-item">
                            <label>
                                {{form.infraestructura_puente}} PUENTE VEHICULAR
                            </label>
                        </div>
                    </div>

                </div>
                <div class="simple-dropdown">
                    <button class="simple-toggle">PAVIMENTACIÓN</button>
                    <div class="simple-menu">
                        <div class="simple-item">
                            <label>
                                {{form.pavimentacion_asfalto}} PAVIMENTACIÓN DE ASFALTO
                            </label>
                        </div>
                        <div class="simple-item">
                            <label>
                                {{form.pavimentacion_concreto}} PAVIMENTACIÓN DE CONCRETO HIDRÁULICO
                            </label>
                        </div>
                        <div class="simple-item">
                            <label>
                                {{form.pavimentacion_rehabilitacion}} REHABILITACIÓN DE PAVIMENTO
                            </label>
                        </div>
                    </div>
                </div>
                <div class="simple-dropdown">
                    <button class="simple-toggle">REHABILITACIÓN</button>
                    <div class="simple-menu">
                        <div class="simple-item">
                            <label>
                                {{form.señalamiento_pintura}} PINTURA
                            </label>
                        </div>
                        <div class="simple-item">
                            <label>
                                {{form.señalamiento_señales}} SEÑALES VERTICALES
                            </label>
                        </div>
                    </div>

                </div>
                <br>
                <label for="id_desc_p" class="label">NOTAS SOBRE LA PROPUESTA</label>
                {{form.notas_propuesta}}
            </div>
        </div>
        <div class="Ibottom">
                <div class="lBtn">
                    <button type="button" class="back bbtn" id="back" data-url="{% url 'clear' %}">Regresar</button>
                </div>
                <div class="rBtn">
                    <button type="submit" class="next nbtn" id="next">Siguiente</button>
                </div>
            </div>
    </form>
</main>
{% endblock %}


{% block footer %}
<script src="{% static 'sripts/btnScripts.js' %}"></script>
<script src="{% static 'sripts/acordeon.js' %}"></script>
{% endblock %}