{% extends 'base.html' %}{% load static %}

{% block title %}Vinculación social - Presupuesto participativo{% endblock %}

{% block head %}
{% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
<link rel="stylesheet" href="{% static 'styles/ppStyles.css' %}?=v1">
{% endblock %}


{% block body %}{% include 'nav.html' %}
    <main>
        <form method="post">
            {% csrf_token %}
            <div class="container">
                <h1>PARQUES</h1>
                <div class="form-group">
                    <div class="simple-dropdown">
                        <button class="simple-toggle">CANCHAS</button>
                        <div class="simple-menu">
                            <div class="simple-item">
                                <label>
                                    {{form.cancha_futbol_rapido}} CANCHA DE FÚTBOL RÁPIDO
                                </label>
                            </div>
                            <div class="simple-item">
                                <label>
                                    {{form.cancha_futbol_soccer}} CANCHA DE FÚTBOL SOCCER
                                </label>
                            </div>
                            <div class="simple-item">
                                <label>
                                    {{form.cancha_futbol_7x7}} CANCHA DE FÚTBOL 7x7
                                </label>
                            </div>
                            <div class="simple-item">
                                <label>
                                    {{form.cancha_beisbol}} CANCHA DE BEISBOL
                                </label>
                            </div>
                            <div class="simple-item">
                                <label>
                                    {{form.cancha_softbol}} CANCHA DE SOFTBALL
                                </label>
                            </div>
                            <div class="simple-item">
                                <label>
                                    {{form.cancha_usos_multiples}} CANCHA DE USOS MÚLTIPLES
                                </label>
                            </div>
                            <div class="simple-item">
                                <label>
                                    {{form.cancha_otro}} CANCHA (OTRO)
                                </label>
                            </div>

                        </div>
                    </div>
                    <div class="simple-dropdown">
                        <button class="simple-toggle">ALUMBRADO</button>
                        <div class="simple-menu">
                            <div class="simple-item">
                                <label>
                                    {{form.alumbrado_rehabilitacion}} REHABILITACIÓN DE ALUMBRADO
                                </label>
                            </div>
                            <div class="simple-item">
                                <label>
                                    {{form.alumbrado_nuevo}} INSTALACIÓN DE ALUMBRADO NUEVO
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="simple-dropdown">
                        <button class="simple-toggle">JUEGOS</button>
                        <div class="simple-menu">
                            <div class="simple-item">
                                <label>
                                    {{form.juegos_dog_park}} DOG PARK
                                </label>
                            </div>
                            <div class="simple-item">
                                <label>
                                    {{form.juegos_infantiles}} JUEGOS INFANTILES
                                </label>
                            </div>
                            <div class="simple-item">
                                <label>
                                    {{form.juegos_ejercitadores}} APARATOS EJERCITADORES
                                </label>
                            </div>
                            <div class="simple-item">
                                <label>
                                    {{form.juegos_otro}} JUEGOS (OTRO)
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="simple-dropdown">
                        <button class="simple-toggle">TECHUMBRE</button>
                        <div class="simple-menu">
                            <div class="simple-item">
                                <label>
                                    {{form.techumbre_domo}} DOMO
                                </label>
                            </div>
                            <div class="simple-item">
                                <label>
                                    {{form.techumbre_kiosko}} KIOSCO
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="simple-dropdown">
                        <button class="simple-toggle">EQUIPAMIENTO</button>
                        <div class="simple-menu">
                            <div class="simple-item">
                                <label>
                                    {{form.equipamiento_botes}} BOTES DE BASURA
                                </label>
                            </div>
                            <div class="simple-item">
                                <label>
                                    {{form.equipamiento_bancas}} BANCAS
                                </label>
                            </div>
                            <div class="simple-item">
                                <label>
                                    {{form.equipamiento_andadores}} ANDADORES
                                </label>
                            </div>
                            <div class="simple-item">
                                <label>
                                    {{form.equipamiento_rampas}} RAMPAS
                                </label>
                            </div>
                        </div>
                    </div>
                    <br>
                        <label for="id_desc_p" class="label">DESCRIPCIÓN DEL ESTADO ACTUAL DEL PARUQE</label>
                        {{form.notas_parque}}
                </div>
            </div>
            <div class="Ibottom">
                <div class="lBtn">
                    <button type="button" class="back bbtn" id="back" data-url="{% url 'clear' %}">Regresar</button>
                </div>
                <div class="rBtn">
                    <button type="submit" class="next nbtn" id="next">Siguiente</button>
                </div>
            </div>
        </form>
    </main>

{% endblock %}


{% block footer %}
<script src="{% static 'sripts/btnScripts.js' %}"></script>
<script src="{% static 'sripts/acordeon.js' %}"></script>
{% endblock %}