{% extends 'base.html' %}{% load static %}

{% block title %}Vinculación social - Presupuesto participativo{% endblock %}

{% block head %}
{% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
<link rel="stylesheet" href="{% static 'styles/ppStyles.css' %}?=v1">
{% endblock %}


{% block body %}{% include 'nav.html' %}
<main>
    <form action="" method="post">
        {% csrf_token %}
        <div class="container">
            <h1>SOLUCIONES PLUVIALES</h1>
            <div class="form-group">
                <div class="simple-dropdown">
                    <button class="simple-toggle">REHABILITACIÓN</button>
                    <div class="simple-menu">
                        <div class="simple-item">
                            <label>
                                {{form.pluvial_muro_contencion}} MURO DE CONTENCIÓN
                            </label>
                        </div>
                        <div class="simple-item">
                            <label>
                                {{form.pluvial_canalizacion}} CANALIZACIÓN DE ARROYOS
                            </label>
                        </div>
                        <div class="simple-item">
                            <label>
                                {{form.pluvial_puente_peatonal}} PUENTE PEATONAL SOBRE ARROYO
                            </label>
                        </div>
                        <div class="simple-item">
                            <label>
                                {{form.pluvial_vado}} CONSTRUCCIÓN DE VADO
                            </label>
                        </div>
                        <div class="simple-item">
                            <label>
                                {{form.pluvial_puente}} CONSTRUCCIÓN DE PUENTE
                            </label>
                        </div>
                        <div class="simple-item">
                            <label>
                                {{form.pluvial_desalojo}} SOLUCIÓN PARA DESALOJO PLUVIAL / DESCARGAS PLUVIALES
                            </label>
                        </div>
                        <div class="simple-item">
                            <label>
                                {{form.pluvial_rejillas}} REJILLAS PLUVIALES
                            </label>
                        </div>
                        <div class="simple-item">
                            <label>
                                {{form.pluvial_lavaderos}} LAVADEROS (PARA EVITAR SOCAVACIÓN / INUNDACIÓNES)
                            </label>
                        </div>
                        <div class="simple-item">
                            <label>
                                {{form.pluvial_obra_hidraulica}} REHABILITACIÓN DE OBRA HIDRÁULICA
                            </label>
                        </div>
                        <div class="simple-item">
                            <label>
                                {{form.pluvial_reposicion_piso}} REPOSICIÓN DE PISO DE ARROYO
                            </label>
                        </div>
                        <div class="simple-item">
                            <label>
                                {{form.pluvial_proteccion_inundaciones}} PROTECCIÓN CONTRA INUNDACIONES
                            </label>
                        </div>

                        <div class="simple-item">
                            <label>
                                {{form.pluvial_otro}} OTRO
                            </label>
                        </div>
                    </div>
                </div>
                <br>
                <label for="id_desc_p" class="label">NOTAS SOBRE LA PROPUESTA</label>
                {{form.notas_propuesta}}
            </div>
        </div>
        <div class="Ibottom">
                <div class="lBtn">
                    <button type="button" class="back bbtn" id="back" data-url="{% url 'clear' %}">Regresar</button>
                </div>
                <div class="rBtn">
                    <button type="submit" class="next nbtn" id="next">Siguiente</button>
                </div>
            </div>
    </form>
</main>
{% endblock %}


{% block footer %}
<script src="{% static 'sripts/btnScripts.js' %}"></script>
<script src="{% static 'sripts/acordeon.js' %}"></script>
{% endblock %}