<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Vinculación Social{% endblock %}</title>

    {% block head %}
    <style>
      .parent {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(2, 1fr);
          gap: 36px;
      }
      .div10 {
          grid-column-start: 2;
      }
    </style>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>
    {% endblock %}
</head>
<body>
    {% block body %}
    <main>
      <!-- Contenido principal -->
    </main>
    {% endblock %}

    {% block footer %}
    <footer>
        <!-- Pie de página -->
    </footer>
    {% endblock %}
</body>
</html>
