{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href ="{% static 'styles/form-optimized.css' %}?v=1">
<title>Obras Públicas</title>
{% endblock %}

{% block body %}
{% include 'nav.html' %}
<form method="post">
  <input type="hidden" name="uuid" value="{{ Uuid.uuid }}">
    {% csrf_token %}
    <div class="solimain" id="solimain">
        <div class="titulo"><h1><b>DOCUMENTO GENERADO</b></h1></div><br>
        <div class="soli">
            <p><strong>SOLICITUD</strong></p>
            <!--button type="submit" name="action" value="wasap" class="wasap" id="wasap"></button-->
            <button type="submit" class="down" name="action" value="descargar">
                <span>
                    <img src="{% static 'images/download.png' %}" alt="dwnld" class="down">
                </span>
            </button>
        </div>
    </div>
    <div class="bottom">
        <div class="lBtn">
            <button type="button" class="back bbtn" id="back" data-url="{% url 'soli' %}">Regresar</button>
        </div>
        <div class="rBtn">
            <button type="submit" class="next nbtn" name="action" value="guardar" id="next">Siguiente</button>
        </div>
        <div class="cBtn">
            <button type="button" class="cancel cbtn" id="cancel" 
            onclick="document.querySelector('.popup').classList.add('active');"
            >Cancelar</button>
            <div class="popup">
                {% include 'adv.html' %}
            </div>
        </div>
    </div>
</form>
    
{% endblock %}

{% block footer %}

<script src="{% static 'sripts/btnScripts.js' %}"></script>

{% endblock %}