{% extends 'base.html' %}
{% load static %}

{% block head %}
<script>
    let map;
    let marker;
    function initMap() {
    const ubicacion = { lat: 28.6353, lng: -106.0889 };
    map = new google.maps.Map(document.getElementById("map"), {
        center: ubicacion,
        zoom: 15,
    });

    const geocoder = new google.maps.Geocoder();

    map.addListener("click", (e)=>{
      const latLng = e.latLng;

      if (marker){
        marker.setPosition(latLng);
      }else{
        marker = new google.maps.Marker({
          position: latLng,
          map: map,
        });
      }
      

        geocoder.geocode({ location: latLng}, (results, status) =>{
          if (status === "OK" && results[0]){
            const dir = results[0].formatted_address;
            document.getElementById("dirr").value = dir;
          }else{
            console.error("no chambea" +status);
          }
        });
      });
    });

    }
    window.initMap = initMap;

</script>
<link rel="stylesheet" href="{% static 'styles/map.css' %}?v=1" />



{% endblock %}


{% block body %}
<div class="mainMap">
    <div class="searchCont">  
      <input type="hidden" name="origen" value="{{ origen }}">
<input type="hidden" name="uuid" value="{{ uuid }}">

  <div class="buscar">
    <label for="dirr" name="text" class="text">Dirección:</label>
    <input
      type="text"
      class="input"
      id="dirr"
      name="dir"
      placeholder="Dirección"
    />
  </div>
    <div class="mapholder">
      <div class="map" id="map">
      </div>
          <script async
            src="https://maps.googleapis.com/maps/api/js?key={{ google_key }}&libraries=places&callback=initMap"
            defer
          ></script>
    </div>

  <div class="Ibottom">
    <div class="lBtn">
        <button
          type="button"
          class="back bbtn"

          onclick="closem()"
        >Cerrar</button>
      {% endif %}
    </div>
    <div class="rBtn">
      <button type="button" onclick="enviar()" class="next nbtn" id="mNext">Seleccionar</button>
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}
<script src="{% static 'sripts/btnScripts.js' %}"></script>

<script>
document.getElementById("mNext").addEventListener("click", function () {
  const dirInput = document.getElementById("dirr").value;
  if (!dirInput.trim()) {
    alert("Por favor selecciona una dirección en el mapa.");
    return;
  }
});


</script>
{% endblock %}