{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'styles/map.css' %}?v=1" />

{% endblock %}


{% block body %}
<div class="mainMap">
    <div class="searchCont">  
      <form method="post" id="mapForm">
        {% csrf_token %}
        <input type="hidden" name="origen" value="{{ origen }}">
  <div class="buscar">
    <label for="nombre" name="text" class="text">Dirección:</label>
    <input
      type="text"
      class="input"
      id="mapa"
      name="mapa"
      placeholder="Dirección"
    />
  </div>

  <div class="map">
    {{ map|safe }}
  </div>

  <div class="Ibottom">
    <div class="lBtn">
      {% if origen == 'data' %}
        <button 
          type="button" 
          class="back bbtn" 
          id="close" 
          data-url="{% url 'data' %}" 
        >Cerrar</button>
      {% elif origen == 'soli' %}
        <button 
          type="button" 
          class="back bbtn" 
          id="close" 
          data-url="{% url 'soli' %}" 
        >Cerrar</button>
      {% endif %}
    </div>
    <div class="rBtn">
      <button type="submit" class="next nbtn" id="mNext">Seleccionar</button>
    </div>
  </div>
</form>
</div>
{% endblock %}

{% block footer %}
<script src="{% static 'sripts/btnScripts.js' %}"></script>
{% endblock %}