@page{
    size: letter;
    margin: 2.5cm;
    @bottom-right{
        content: counter(pageNumber);
    }
}

*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* TITTLE */
th#t{
    font-size: 2.5rem;
    color: #2974b1;
}

/* logo */
img.logo{
    float:inline-end;
    width: 7rem;
    height: 7rem;
}

.table .final{
    border-bottom: 1px  solid rgb(119, 201, 255);
}

.tit h4{
    background-color: rgba(187, 225, 241, 0.411);
}

thead .thead{
    background-color: rgba(187, 225, 241, 0.411);
}
/*
.sep{
    border-top: 1px solid rgb(119, 201, 255);
    margin-bottom: 20px;
    width: 100%;
    height: 2px;
    
}*/