html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100vw;
    height: 100vh;
}


/* MAIN */
form .main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 1fr;
    column-gap: 16px;
    margin: 1rem 3rem;

}

.left{
    grid-column-start: 1;
    grid-row-start: 2;

}

.right{
    grid-column-start: 2;
    grid-row-start: 2;
}




/* TITLE */

.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #286496;
    color: #fff;
    border-color: #004dff;
    height: 50%;
    width: 85%;
    padding: 1rem 0.2rem;
    font-size: 1rem;
    border-radius: 10px;
    margin-left: 0.8rem;
    margin-bottom: 2rem;
}

.titulo h1 {
    margin: 0;
    padding: 0;
    font-size: 1.7rem;
}


/* BOTTOMS */

.bottom{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 3rem;
    justify-content: center;
    align-items: center;
    width: max-content;
    margin: auto;
    margin-bottom: 3rem;
}

.bottom .cBtn{
    grid-row-start: 2;
    grid-column-start: 1;
}



.Ibottom{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 5rem;
    justify-content: center;
    width:max-content;
    margin: 0 auto;
}

.bottom .lBtn{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-around;

}


/* LABELS & INPUTS */

.form{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin-bottom: 1rem;
}

.form label.text{
    font-size: 0.75rem;
    color: #005194;
    font-weight: 700;
    margin-left: 5px;
    margin-bottom: -0.4rem;
    background: #ffffff;
    width: fit-content;
    z-index: 1;
    padding: 0 4px;
}

.form input[type=text].input{
    padding: 10px;
    font-size: 0.8rem;
    border: 2px solid #005194;
    border-radius: 5px;
    background: #ffffff;
    width: 100%;
    height: 4rem;

    box-sizing: border-box;
    margin-bottom: 3rem;
}

.form input[type=text].input:focus {
    outline: none;
    border-color: #004dff;
}


/* TEXT AREA */

.form textarea.tArea {
    padding: 10px;
    font-size: 0.8rem;
    border: 2px solid #005194;
    border-radius: 5px;
    background: #ffffff;
    width: 100%;
    height: 150px;
    box-sizing: border-box;
    resize: none;
    margin-bottom: 1rem;
}

.form textarea.tArea:focus {
    outline: none;
    border-color: #004dff;
}

.form textarea.tArea1 {
    padding: 10px;
    font-size: 0.8rem;
    border: 2px solid #005194;
    border-radius: 5px;
    background: #ffffff;
    width: 100%;
    height: 250px;
    box-sizing: border-box;
    resize: none;
    margin-bottom: 1rem;
}

.form textarea.tArea1:focus {
    outline: none;
    border-color: #004dff;
}

/* SELECT */

.form select.select {
    padding: 10px;
    font-size: 0.8rem;
    border: 2px solid #005194;
    border-radius: 5px;
    background: #ffffff;
    width: 100%;
    height: 4rem;
    box-sizing: border-box;
    margin-bottom: 3rem;

}

.form select.select:focus {
    outline: none;
    border-color: #004dff;
}

/* DATE */

.form input[type=date].input {
    padding: 10px;
    font-size: 0.8rem;
    border: 2px solid #005194;
    border-radius: 5px;
    background: #ffffff;
    width: 100%;
    height: 4rem;
    box-sizing: border-box;
    margin-bottom: 3rem;

}

.form input[type=date].input:focus {
    outline: none;
    border-color: #004dff;
}


/* START BUTTONS */

/* ADD BUTTON */
.addbtn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 0 15px;
    height: 40px;
    width: 180px;
    background-color: #005194;
    color: #ffffff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.addbtn:hover {
    background-color: #00396e;
}

/* Text inside button */
.addbtn .txt {
    font-weight: 600;
    white-space: nowrap;
}

/* Icon */
.addbtn .addicon {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right .addbtn{
    display: flex;
    justify-content: center;
}


.left .plus{
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;

}

.right .plus{
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;

}

/* NEXT BUTTON */
.next {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0 rgba(255, 255, 255,.5),
    7px 7px 20px 0 rgba(0,0,0,.1),
    4px 4px 5px 0 rgba(0,0,0,.1);
    outline: none;
    font-size: 15px;
}

.nbtn{
    background: #004dff;
    background: linear-gradient(0deg, #004dff 0%, #004dff 100%);
    border: none;
}

.nbtn:before{
    height: 0%;
    width: 2px;
}

.nbtn:hover{
    box-shadow: 4px 4px 6px 0 rgba(255,255,255,.5),
    -4px -4px 6px 0 rgba(116,125,136,.5),
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0,0,0,.4);
}


/* BACK BUTTON  */
.back {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0 rgba(255, 255, 255,.5),
    7px 7px 20px 0 rgba(0,0,0,.1),
    4px 4px 5px 0 rgba(0,0,0,.1);
    outline: none;
    font-size: 15px;
}

.bbtn{
    background: #666d7e;
    background: linear-gradient(0deg, #666d7e 0%, #666d7e 100%);
    border: none;
}

.bbtn:before{
    height: 0%;
    width: 2px;
}

.bbtn:hover{
    box-shadow: 4px 4px 6px 0 rgba(255,255,255,.5),
    -4px -4px 6px 0 rgba(116,125,136,.5),
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0,0,0,.4);
}


/* CANCEL BUTTON  */
.cancel {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0 rgba(255, 255, 255,.5),
    7px 7px 20px 0 rgba(0,0,0,.1),
    4px 4px 5px 0 rgba(0,0,0,.1);
    outline: none;
    font-size: 15px;
}

.cbtn{
    background: #ca0000;
    background: linear-gradient(0deg, #ca0000 0%, #ca0000 100%);
    border: none;
}

.cbtn:before{
    height: 0%;
    width: 2px;
}

.cbtn:hover{
    box-shadow: 4px 4px 6px 0 rgba(255,255,255,.5),
    -4px -4px 6px 0 rgba(116,125,136,.5),
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0,0,0,.4);
}


/* UP BUTTON */

.nFoto{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: all 0.3s ease;
}


input[type="file"] {
    display: none;
}

.search {
    width: 130px;
    height: 40px;
    color: #000000;
    border-radius: 5px;
    padding: 10px 25px;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0 rgba(255, 255, 255,.5),
    7px 7px 20px 0 rgba(0,0,0,.1),
    4px 4px 5px 0 rgba(0,0,0,.1);
    outline: none;
    font-size: 15px;
}

.sbtn{
    background: #ffffff;
    background: linear-gradient(0deg, #ffffff 0%, #ffffff 100%);
    border: 2px solid #005194;
    height: 3rem;
    width: 12rem;
}

.sbtn:before{
    height: 0%;
    width: 2px;
}

.sbtn:hover{
    box-shadow: 4px 4px 6px 0 rgba(255,255,255,.5),
    -4px -4px 6px 0 rgba(116,125,136,.5),
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0,0,0,.4);
}

/* END BUTTONS */

/* GRID CONTAINER NEW */

.ngrid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 3rem;
    justify-content: center;
    align-items: center;
    width: max-content;
    margin: auto;
    margin-bottom: 3rem;
}

/* SOLI STYLE */

#solimain{
    width: 100%;
}

.soli{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 2px solid black;
    margin: 2rem 5rem 3rem 5rem;
    font-size: 1.5rem;
}

.soli .down{
    background: none;
    border: none;
    cursor: pointer;
    width: 3rem;
    height: 3rem;
}

.cBtn .popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.cBtn .popup.active{
    visibility: visible;
    opacity: 1;
}


/* modal */

.modal{
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0; top: 0; width: 100vw; height: 100vh;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    transition: 0.3s ease;
    opacity: 0;
}

.modal:not(.hidden){
  opacity: 1;
}


.mainMap{
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    max-width: 80rem;
    border-radius: 8px;
    position: relative;
    box-sizing: border-box;
}



.close{
    color: #aaa;
    position:absolute;
    right:16px;
    top: 8px;
}

.close:hover, .close:focus{
    cursor: pointer; 
    color: #000;}


/* CHECKBOX */

.checkbox-wrapper-46 {
    overflow: hidden;
    display: flex;
    align-content: center;
    flex-direction: row;
    width: fit-content;

}


.checkbox-wrapper-46 input[type="checkbox"] {
    display: none;
    visibility: hidden;
  }
  
  .checkbox-wrapper-46 .cbx {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 20px;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
  }
  .checkbox-wrapper-46 .cbx span {
    display: inline-block;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
  }
  .checkbox-wrapper-46 .cbx span:first-child {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    transform: scale(1);
    vertical-align: middle;
    border: 1px solid #9098a9;
    transition: all 0.2s ease;
  }
  .checkbox-wrapper-46 .cbx span:first-child svg {
    position: absolute;
    top: 3px;
    left: 2px;
    fill: none;
    stroke: #ffffff;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
  }
  .checkbox-wrapper-46 .cbx span:first-child:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #005194;
    display: block;
    transform: scale(0);
    opacity: 1;
    border-radius: 50%;
  }
  .checkbox-wrapper-46 span.p1:last-child {
    padding-left: 8px;
  }
  .checkbox-wrapper-46 .cbx:hover span:first-child {
    border-color: #005194;
  }
  
  .checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child {
    background: #005194;
    border-color: #005194;
    animation: wave-46 0.4s ease;
  }
  .checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child svg {
    stroke-dashoffset: 0;
  }
  .checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child:before {
    transform: scale(3.5);
    opacity: 0;
    transition: all 0.6s ease;
  }
  

.checkbox-wrapper-46 .p1:hover{
    color: #005194;
}

.checkbox-wrapper-46 span.p2{
    visibility: hidden;
    width: fit-content;
    height:fit-content;
    background-color: #00396e;
    color: #ffffff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0 5px 10px;
    position:absolute;
    z-index: 1;
    font-size: 0.90rem;
}


.checkbox-wrapper-46:hover span.p2{
   
    visibility: visible;
}


  @keyframes wave-46 {
    50% {
      transform: scale(0.9);
    }
  }

/* QUERIES */

@media (max-width: 768x) {

    html,body{
        padding-top: 1rem;
        padding: 0;
        margin: 0;
        width: 100vw;
        
    }

    .main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 1rem;
    }

 

    form .main{
        display: flex;
        flex-direction: column;
        width: fit-content;
        gap: 8px;
    }

    form .main .form{
        display: flex;
        align-content: center;
        justify-content: center;
    }
    
    .bottom{
        display: flex;
        flex-direction: column;
        width:fit-content;
        gap: 8px;
    }
    
    .Ibottom{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        gap: 8px;
    }
}
