html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000c52; 
    padding: 10px 5px;
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    z-index: 1000;
    flex-wrap: wrap;
}



/* Elemento activo */
.active {
    background-color: #008a94;
}


