@import url('global-base.css');
@import url('buttons-common.css');

.check-group{
    display: flex;
    gap: 10px;
    align-items: center;
    width: 100%;
}

.check-group label{
    margin-right: 5px;
}

.check-group .check{
    width: 12rem;
    height: 7rem;
    display: inline-block;
    
    
}

.form-group{
    margin-bottom: 15px;
    justify-content: space-evenly;
}

.form-group .label, .check-group .label{
    font-size: 0.85rem;
    color: var(--primary-color);
    font-weight: 700;
    margin-left: 5px;
    margin-bottom: -0.4rem;
    background: #ffffff;
    width: fit-content;
    z-index: 1;
    padding: 0 4px;
}

.form-group .form-control, .form-group .text-form-control, .form-group .form-cat{
    padding: 5px;
    font-size: 0.8rem;
    border: 2px solid var(--primary-color);
    border-radius: var(--border-radius);
    background: #ffffff;
    width: 100%;
    height: 3rem;
    box-sizing: border-box;
    margin-bottom: 1rem;
}   

.form-group .form-control:focus, 
.form-group .text-form-control:focus
.form-cat:focus{
    outline:none;
    border-color: var(--primary-hover);
}

.container h1{
    margin-top: 0.65rem;
    padding: 0.75rem;
    width: 70%;
    font-size: 3rem;
    background-color: var(--primary-color);
    color: white;
    border-radius: 4px;
}

.form-group .form-control:invalid:not(:focus):not(:placeholder-shown), 
.form-group .text-form-control:invalid:not(:focus):not(:placeholder-shown),
.form-group .form-cat:invalid:not(:focus){
    border-color: #e74c3c;
    box-shadow: 0 0 0 2px rgba(231, 76, 60, 0.2);
}

.form-group .form-control:valid:not(:placeholder-shown), 
.form-group .text-form-control:valid:not(:placeholder-shown),
.form-group .form-cat:invalid{
    border-color: #27ae60;
}

.container p{
    color: white;
    font-size: 1.25rem;
    padding: 0.5rem;
    width: 80%;
    border-radius: 4px;
    margin-top: -0.5rem;
    background-color: var(--secondary-color);
}

.Ibottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 5rem;
    justify-content: center;
    width: max-content;
    margin: 0 auto;
}


 .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-toggle {
        background-color: #007bff;
        color: white;
        padding: 10px;
        border: none;
        cursor: pointer;
    }

    .dropdown-menu {
        display: none;
        position: absolute;
        background-color: white;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
        padding: 10px;
        z-index: 1;
    }

    .dropdown:hover .dropdown-menu {
        display: block;
    }

    .dropdown-menu label {
        display: block;
        margin: 5px 0;
    }