html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.cont{
    display: flex;
    height: fit-content;
    width: 100%;
    height:100%;
    justify-content: center;
    align-content: center;
}

.encabezado h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.543m;
    color: #1a237e;
    text-align: center;
    margin-bottom: 2rem;
    letter-spacing: 1px;
    font-weight: bold;
}


.boton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10rem;
    height: 100%;
    width: 100%;
}

.boton .btn{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 32px;
    border: 2px solid rgb(0, 0, 78);
    opacity: 0.5;
    background-color: rgba(41, 87, 236, 0.863);
    transition-duration: 0.4s;
    padding: 23px 20px;
    border-radius: 8px;
    cursor: pointer;
    width: 30rem;
    margin-bottom: 1.5rem;

}

.boton .btn:last-child{
    margin-bottom: 0;
}

.boton .btn:hover{
    background-color: rgba(5, 60, 240, 0.863);
    opacity: 1;
    color: white;
    border: 2px solid rgb(0, 0, 78);
}

.cont video{
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    opacity: 0.90;
}

.aviso{
    position: fixed;
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    height: fit-content;
    text-align: center;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    padding: 10px 0px;
    bottom: 0;
}