{% load static %}

<link rel="stylesheet" href="{% static 'cminStyles/btns.css' %}?v=1.1">
<div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle noti-btn" data-bs-toggle="dropdown" aria-expanded="false">
        <span><img src="{% static 'images/565423.png' %}" alt="campanita" class="noti"></span>
        {% if unread_count > 0 %}
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            {{ unread_count }}
        </span>
        {% else %}
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            0
        </span>
        {% endif %}
    </button>
    <ul class="dropdown-menu dropdown-menu-end">
        {% for notification in unread_notifications %}
            <li>
                <a class="dropdown-item" href="{{ notification.link }}">
                    {{ notification.msg }}
                    <small class="text-muted d-block">
                        {{ notification.created_at|timesince }}
                    </small>
                </a>
            </li>
        {% empty %}
            <li>
                <a href="#" class="dropdown-item">No hay notificaciones nuevas</a>
            </li>
        {% endfor %}
    </ul>
</div>