
html, body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    height: 100vh;
    background-color: rgb(172, 0, 0);
}

body{
    background: rgb(192, 192, 192);
}

.row{
    display: flex;
    justify-content: center;
    align-self: center;
    padding-top: 5%;
}


table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  /*border: 1px solid #ddd;*/
  border-radius: 10%;
}

th, td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}