html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #cdcdcd;
  display: flex;
  flex-direction: column;
}

.navbar {
  background-color: #0c0b5c;
  color: white;
  padding: 1rem;
  font-weight: bold;
}

.footer {
  background-color: #0c0b5c;
  height: 40px;
  margin-top: auto;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
}


.card {
  background: white;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  padding: 1.5rem;
  width: 100%;
  min-height: 300px;
}

.card h3 {
  margin-top: 0;
  margin-bottom: 1rem;
}

.asuntos {
  list-style: none;
  padding: 0;
  margin: 0;
}

.asuntos li {
  margin-bottom: 1rem;
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.5rem;
}

.buttons{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.send{
    background-color: #0baf4f;
    color: white;
    padding: 0.5rem 1rem;
    border: solid black 1px;
    border-radius: 4px;
    cursor: pointer;
}

.send:hover{
    box-shadow: 4px 4px 6px 0 rgba(255,255,255,.5),
    -4px -4px 6px 0 rgba(116,125,136,.5),
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0,0,0,.4);
}
