html, body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    height: 100%;
    background-color:rgb(205,205,205);
}

.container{
    column-gap: 16px;
    width: 100%;
    height: 90%;
}

.container label{
    font-size: 0.75rem;
    color: #005194;
    font-weight: 700;
    margin-left: 5px;
    margin-bottom: -0.4rem;
    width: fit-content;
    z-index: 1;
    padding: 0 4px;
}

.formcontrol{
    padding: 10px;
    font-size: 0.8rem;
    border: 2px solid #005194;
    border-radius: 5px;
    background: #ffffff;
    width: 100%;
    height: 4rem;
    box-sizing: border-box;
    margin-bottom: 3rem;
}

.container input[type=text]label:focus{
    outline: none;
    border-color: #004dff;
}


/* NEXT BUTTON */
.next {
    width: 170px;
    height: 50px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0 rgba(255, 255, 255,.5),
    7px 7px 20px 0 rgba(0,0,0,.1),
    4px 4px 5px 0 rgba(0,0,0,.1);
    outline: none;
    font-size: 15px;
}

.nbtn{
    background: #004dff;
    background: linear-gradient(0deg, #004dff 0%, #004dff 100%);
    border: none;
}

.nbtn:before{
    height: 0%;
    width: 2px;
}

.nbtn:hover{
    box-shadow: 4px 4px 6px 0 rgba(255,255,255,.5),
    -4px -4px 6px 0 rgba(116,125,136,.5),
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0,0,0,.4);
}

/* BACK BUTTON  */
.back {
    width: 170px;
    height: 50px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0 rgba(255, 255, 255,.5),
    7px 7px 20px 0 rgba(0,0,0,.1),
    4px 4px 5px 0 rgba(0,0,0,.1);
    outline: none;
    font-size: 15px;
}

.bbtn{
    background: #666d7e;
    background: linear-gradient(0deg, #666d7e 0%, #666d7e 100%);
    border: none;
}

.bbtn:before{
    height: 0%;
    width: 2px;
}

.bbtn:hover{
    box-shadow: 4px 4px 6px 0 rgba(255,255,255,.5),
    -4px -4px 6px 0 rgba(116,125,136,.5),
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0,0,0,.4);
}


