<div class="content" id="content">
    <span class="close" onclick="modals('close', 'camaraD')">&times;</span>
    <div class="input">
        <div id="camera" class="camera">
            <video id="videoElement" autoplay playsinline style="width:100%;"></video>
            <video id="video"></video> <!-- muestra lo que se va a tomar -->

            <button id="start" type="button">TOMAR FOTO</button> <!-- Toma la foto -->

            <input type="hidden" value="" name="src" id="webimg"  >

            <canvas id="canvas" hidden></canvas> <!-- muestra la foto tomada -->
            <!--img src="http://localhost:8000/desUr/soliData/" alt="foto" id="foto"> muestra la foto tomada x2 -->
        </div>
        <br>
        <div>
            <img alt="la foto" id="photo">
            <!-- Campo hidden para la foto en base64 -->
            <input type="hidden" name="foto_base64" id="foto_base64" />
        </div>
    </div>
    <div class="iBottom">
        <button id="save" type="button" class="btn btn-primary" onclick="modals('close', 'camaraD')">GUARDAR</button> <!-- Guarda la foto tomada -->
    </div>
</div>

