{% extends 'master.html' %}{% load static %}

{% block head %}
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'cminStyles/userStyles.css' %}?v=1">
{% endblock %}

{% block content %}{% include 'navmin.html' %}
<text>Hola inicia sesión</text>

<div class="container">
    <form method="post">
        {% csrf_token %}
        <div>
            <div>
                <label for="id_usuario">Usuario:</label>
                {{form.usuario}}
            </div>
            <div>
                <label for="id_contrasena">Contraseña:</label>
                {{form.contrasena}}
            </div>
        </div>
        <div class="Ibottom">
            <button type="submit" class="next nbtn">Iniciar sesión</button>
            <button type="button" class="back bbtn" id="back" data-url="{% url 'users' %}">Crear usuario</button>
        </div>
    </form>
    {% if messages %}
    <div class="alert-container">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>



{% endblock %}


{% block footer %}
<div class="footer" style="height: 50px; background: rgb(0, 0, 78);"></div>
<script src="{% static 'cminScripts/cminBtns.js' %}"></script>

{% endblock %}
