{% extends 'master.html' %}{% load static %}


{% block head %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'cminStyles/tableStyles.css' %}?v=1">
{% endblock %}


{% block content %}{% include 'navmin.html' %}

<main class="container">
    <div class="menus">
        <h4>Bienvenido</h4>
        <div class="ver">
            <h2>Ver asunto</h2>
            <button class="ver-btn" id="ver-btn">Ver</button>
        </div><br>
        <div class="seguimiento">
            <h2>Seguimiento</h2>
            <button class="fllw-btn" id="fllw-btn">Ver</button>
        </div>
    </div>
</main>


{% endblock %}


{% block footer %}{% endblock %}