{% extends 'master.html' %}{% load static %}


{% block head %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'cminStyles/tableStyles.css' %}?v=1">
{% endblock %}


{% block content %}{% include 'navmin.html' %}

<main class="container">
    <div class="menus">
        <h4>Bienvenido</h4>
        {% if user.is_superuser %}
        <div class="form">
            <button type="button" class="back bbtn" id="back" data-url="{% url 'users' %}">Crear usuario</button>
        </div>
        {% endif %}
        <div class="ver">
            <h2 class="txt">Ver asuntos</h2>
            <div class="btn">
                <button class="ver-btn" id="ver-btn" data-url="{% url 'tablas' %}">Ver</button>
            </div>
        </div><br>
        <div class="seguimiento">
            <h2 class="txt">Seguimiento</h2>
            <div class="btn">
                <button class="fllw-btn" id="fllw-btn" data-url="{% url 'seguimiento' %}">Ver</button>
            </div>
        </div>
    </div>
</main>


{% endblock %}


{% block footer %}
<script src="{% static 'cminScripts/cminBtns.js' %}"></script>

{% endblock %}