{% extends 'master.html' %}{% load static %}

{% block head %}
    {% load bootstrap5 %}
    {% bootstrap_css %}


<style>
    .logout-btn {
        background-color: transparent;
        border: 1px solid white;
        color: white;
        padding: 6px 12px;
        border-radius: 6px;
        cursor: pointer;
        margin-left: auto;
}

.logout-btn:hover {
        background-color: white;
        color: #0c0b5c;
}
</style>

{% endblock %}


{% block content %}
    <nav class="navbar navbar-expand-sm navbar-light" style="background-color: rgb(0, 0, 78); position: relative; width: 100%; color: white;">
        <div class="container-fluid">
            <a href="{% url 'user_conf' %}" class="navbar-brand">
                {% if user.is_authenticated %}
                <img src="{{ user.foto.url }}" alt="Avatar Logo" style="width:40px;" class="rounded-pill">
                {% else %}
                <img src="{% static 'stock/stock.png' %}" alt="Avatar Logo" style="width:40px;" class="rounded-pill">
                {% endif %}
                {% if user.is_authenticated %}
                <span style="color: white;">{{ user.username }}</span>
                {% else %}
                <span style="color: white;">ADMIN</span>
                {% endif %}
            </a>
            <div class="usr-opc">
                {% if user.is_authenticated %}
                <div class="notificaciones">
                    {% include 'notificaciones/notificaciones.html' %}
                </div>
                {% endif %}
                <div class="button">
                    <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        {% if user.is_authenticated %}
                        <button type="submit" class="logout-btn">Cerrar sesión</button>
                        {% else %}
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </nav>
{% endblock %}
