{% extends 'master.html' %}

{% block head %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
{% endblock %}


{% block content %}
    <nav class="navbar navbar-expand-sm navbar-light" style="background-color: rgb(0, 0, 78); position: relative; width: 100%; color: white;">
        <div class="container-fluid">
            <a class="navbar-brand">
            <img src="logo.png" alt="Avatar Logo" style="width:40px;" class="rounded-pill">
                <span style="color: white;">hola</span>
            </a>
        </div>
    </nav>
{% endblock %}