{% extends 'master.html' %}{% load static %}

{% block head %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'cminStyles/userStyles.css' %}?v=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

{% endblock %}

{% block title %}
    hola
{% endblock %}



{% block content %}{% include 'navmin.html' %}

<div class="container text-center">
    <form method="post">
        {% csrf_token %}
        <div class="row row-cols-2">
            <div class="col-md-6">
                <div class="mini">
                <label for="id_email">Correo electrónico</label>
                {{form.email}}
                </div>
                <div class="mini">
                <label for="id_nombre">Nombre(s)</label>
                {{form.nombre}}
                </div>
                <div class="mini">
                <label for="id_apellidos">Apellido(s)</label>
                {{form.apellidos}}
                </div>
            </div>
            <div class="col-md-6">
                <div class="mini">
                <label for="id_usuario">Nombre de usuario</label>
                {{form.usuario}}
                </div>
                <div class="mini">
                <label for="id_bday">Fecha de nacimiento</label>
                {{form.bday}}
                </div>
                <div class="mini">
                <label for="id_password">Contraseña</label>
                {{form.password}}
                </div>
                <div class="mini">
                <label for="id_confirmP">Confirmar contraseña</label>
                {{form.confirmP}}
                </div>
            </div>
        </div>
        <button type="button" class="back bbtn" id="back" data-url="{% url 'login' %}">Volver a login</button>
        <button type="submit" class="next nbtn">Registrar usuario</button>

    </form>
</div>
{% endblock %}



{% block footer %}
<div class="footer" style="height: 50px; background: rgb(0, 0, 78);"></div>
<script src="{% static 'cminScripts/cminBtns.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://npmcdn.com/flatpickr/dist/l10n/es.js"></script>
<script>
  flatpickr("#id_bday",{
    dateFormat: "Y-m-d",
    locale: "es",
    altInput: "true",
    altFormat: "F j, Y",
  });
</script>
{% endblock %}